
#welcome_header_wrapper
  %h1#welcome_header_content
    Thank you for signing up to volunteer with
    %br
    Seattle Womxn Marching Forward.
    %br
    You will be contacted as events and needs arise.
    %br
    We appreciate you!
