= bootstrap_form_for @survey, layout: :horizontal do |f|
  = f.alert_message "Please fix the errors below."
  = f.collection_select :event_id, Event.all, :id, :name, { include_blank: true }, {class: 'form-control', data_placeholder: 'Select event:'}
  .actions
    = f.submit 'Save'
