@import "bootstrap";

// Any links that are meant to use only an icon for a clickable area should be given the 'icon' class
a.icon a.icon:hover, a.icon:focus, a.icon:active, a.icon:visited, a.icon:link{
  text-decoration-line: none;
}

td, th{
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
