= simple_form_for @organization do |f|
  = f.input :name
  = f.input :short_name, label: t('activerecord.label.organization.short_name')
  .actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
